@font-face {
  font-family: Syne;
  src: url(./Syne-Regular.woff2);
}

@mixin button-desktop {
  border: none;
  background-color: black;
  color: #fff;
  text-transform: uppercase;
  padding: 0.6vw 1.3vw;
  font-size: 1vw;
  font-weight: 300;
  letter-spacing: 1px;
  border-radius: 0.3rem;
  cursor: pointer;
}

@mixin button-mobile {
  border: none;
  background-color: black;
  color: #fff;
  text-transform: uppercase;
  padding: 2.6vw 4vw;
  font-size: 3.5vw;
  font-weight: 300;
  letter-spacing: 1px;
  border-radius: 0.3rem;
  cursor: pointer;
}

@mixin light-text-mobile {
  font-size: 3.8vw;
  font-weight: 300;
  text-transform: uppercase;
}

@mixin h-line {
  height: 1px;
  width: 100%;
  background-color: #000;
}

@mixin v-line {
  height: initial;
  width: 1px;
  background-color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Syne;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  padding: 3vw;
  background-color: #fdfbf6;
}

main {
  width: 100%;
  padding: 5vw 6vw;
  border: 1px solid black;
}

.view-1 {
  height: 100%;
  width: 100%;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logos {
      display: flex;
      align-items: center;
      gap: 3vw;

      svg {
        height: 13vw;
      }

      #svg11433201360 {
        height: 4.5vw;
      }
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5vw;

      .part-1 {
        display: none;
      }

      .part-2 {
        display: flex;
        align-items: center;

        button,
        .links {
          display: none;
        }

        #toggle {
          display: flex;
          justify-content: center;
          background-color: #fdfbf5;
          border: 1px solid #0e0e0e;
          border-radius: 20px;
          padding: 1.2vw 2vw;
          width: 16vw;
          margin-right: 4.5vw;

          i {
            display: block;
            font-size: 5vw;
          }

          #light {
            color: black;
          }

          #dark {
            color: #fdfbf5;
          }
        }

        i {
          font-size: 8.5vw;
        }
      }
    }
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: #000;
    margin: 5vw 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 8vw;
    margin-top: 8vw;

    .top {
      display: flex;
      flex-direction: column;
      gap: 4vw;

      h5 {
        @include light-text-mobile();
      }

      h1 {
        font-size: 14vw;
        line-height: 15vw;
        width: 90%;
        font-weight: 300;
        font-family: Syne;
      }
    }

    .bottom {
      width: 100%;
      height: 49vw;
      img {
        height: 100%;
        width: 100%;
        border-radius: 1rem;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

.view-2 {
  height: 100%;
  width: 100%;
  margin-top: 8vw;

  .top {
    display: flex;
    flex-direction: column;
    gap: 7vw;

    .text {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h5 {
        @include light-text-mobile();
      }

      h1 {
        font-size: 11.5vw;
        line-height: 13vw;
        font-weight: 400;
      }
    }

    button {
      @include button-mobile();
      width: fit-content;
    }
  }

  .line {
    height: 1px;
    width: 100%;
    background-color: #000;
    margin: 7vw 0;
  }

  .bottom {
    .elem {
      display: flex;
      flex-direction: column;
      gap: 4vw;

      svg {
        width: 17vw;
        aspect-ratio: 1/1;
      }

      h2 {
        font-size: 7vw;
        font-weight: 300;
        text-transform: uppercase;
      }

      p {
        font-size: 4vw;
        line-height: 5vw;
        font-weight: 100;
      }
    }

    .line {
      height: 1px;
      width: 100%;
      background-color: #000;
      margin-top: 8vw;
    }
  }
}

.view-3 {
  width: 100%;

  .line {
    height: 1px;
    width: 100%;
    background-color: #000;
    margin: 8vw 0;
  }
  .wrap {
    .top {
      .text {
        display: flex;
        flex-direction: column;
        gap: 3.4vw;

        h2 {
          font-size: 10vw;
          line-height: 11vw;
          font-weight: 400;
          text-transform: uppercase;
        }

        h4 {
          font-size: 4.6vw;
          line-height: 7vw;
          font-weight: 300;
          // width: 85%;
          font-family: sans-serif;
        }
      }
    }

    .line {
      height: 1px;
      width: 100%;
      background-color: #000;
      margin: 8vw 0;
    }

    .bottom {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 8vw;

      .elem {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2.5vw;

        video {
          width: 100%;
          border-radius: 1rem;
        }

        h3 {
          font-size: 5.5vw;
          font-weight: 400;
        }

        h5 {
          @include light-text-mobile();
          font-size: 3.6vw;
          letter-spacing: 1px;
        }
      }
    }
  }
}

.view-4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6vw;

  .top {
    display: flex;
    flex-direction: column;
    gap: 7vw;

    svg {
      width: 15vw;
      aspect-ratio: 1/1;
    }

    .text {
      h5 {
        @include light-text-mobile();
        margin: 3.4vw 0;
      }

      h1 {
        font-size: 11.9vw;
        line-height: 13vw;
        text-transform: uppercase;
        font-weight: 300;
      }
    }
  }

  .line {
    display: none;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    gap: 15vw;

    h4 {
      font-family: sans-serif;
      font-size: 4.4vw;
      line-height: 6.5vw;
      font-weight: 200;
    }

    button {
      @include button-mobile();
      width: fit-content;
    }
  }
}

footer {
  .line {
    @include h-line();
    margin: 8vw 0;
  }

  .wrap-main {
    .main {
      .top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 18vw;

        .t-top {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .logos {
            display: flex;
            align-items: center;
            gap: 4vw;

            svg {
              height: 13vw;
            }

            #svg11433201360 {
              height: 4.5vw;
            }
          }

          .address {
            display: flex;
            flex-direction: column;
            gap: 2vw;

            p {
              font-family: sans-serif;
              font-size: 3.7vw;
              font-weight: 200;
            }
          }
        }

        .links {
          display: flex;
          gap: 4vw;

          .link {
            height: 8vw;
            width: 8vw;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 1px solid black;

            a {
              text-transform: uppercase;
              font-size: 4vw;
              font-weight: 200;
              color: #000;
              text-decoration: none;
            }
          }
        }
      }

      .bottom {
        display: flex;
        flex-direction: column;

        .elem {
          display: flex;
          flex-direction: column;
          gap: 4.8vw;

          h3 {
            font-size: 6.3vw;
            font-weight: 400;
          }

          h4 {
            @include light-text-mobile();
            font-size: 3.4vw;
            letter-spacing: 0.6px;
          }

          button {
            @include button-mobile();
            width: fit-content;
          }
        }
      }
    }
  }

  .f-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    gap: 4vw;
    letter-spacing: 0.5px;

    h4 {
      font-size: 3.7vw;
      font-weight: 300;

      a {
        color: #000;
      }
    }

    .right {
      display: flex;
      gap: 8vw;

      h5 {
        font-size: 3.8vw;
        font-weight: 200;
      }
    }
  }
}

.elem {
  p{
    font-family: sans-serif;
  }
}

@media (min-width: 1020px) {
  body {
    padding: 1.2vw;
  }

  main {
    padding: 2.4vw 3.3vw;
  }

  .view-1 {
    nav {
      .logos {
        display: flex;
        align-items: center;
        gap: 1.2vw;

        svg {
          height: 3.5vw;
        }

        #svg11433201360 {
          height: 1.1vw;
        }
      }

      .right {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2vw;

        .part-1 {
          display: flex;
          align-items: center;
          gap: 1vw;

          h4 {
            text-transform: uppercase;
            font-size: 1.1vw;
            font-weight: 300;
            margin: 0 1vw;
            cursor: pointer;
          }
        }

        .part-2 {
          display: flex;
          align-items: center;

          button {
            display: block;
            @include button-desktop();
          }

          .links {
            display: flex;
            gap: 1.2vw;
            margin: 0 1.2vw;
            border-left: 1px solid black;
            border-right: 1px solid black;
            padding: 0 1.4vw;

            .link {
              height: 2.3vw;
              width: 2.3vw;
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              border: 1px solid black;
              cursor: pointer;

              a {
                text-transform: uppercase;
                font-size: 1vw;
                font-weight: 200;
                color: #000;
                text-decoration: none;
              }
            }
          }

          #toggle {
            border-radius: 20px;
            padding: 0.5vw 0.7vw;
            width: fit-content;
            margin-right: 0;

            i {
              display: block;
              font-size: 1.3vw;
            }

            #light {
              color: black;
            }

            #dark {
              color: #fdfbf5;
            }
          }

          i {
            display: none;
          }
        }
      }
    }

    .line {
      width: 100%;
      height: 1px;
      background-color: #000;
      margin: 2vw 0;
    }

    .content {
      gap: 4vw;
      margin-top: 4vw;

      .top {
        gap: 1vw;
        h5 {
          @include light-text-mobile();
          font-size: 1vw;
        }

        h1 {
          font-size: 7.5vw;
          line-height: 7vw;
          font-weight: 350;
          font-family: Syne;
        }
      }

      .bottom {
        height: 43vw;
      }
    }
  }

  .view-2 {
    height: 100%;
    width: 100%;
    margin: 4vw 0;
    display: flex;
    justify-content: space-between;

    .top {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2vw;
      width: 68%;

      .text {
        display: flex;
        flex-direction: column;
        gap: 1vw;

        h5 {
          @include light-text-mobile();
          font-size: 1vw;
        }

        h1 {
          font-size: 6vw;
          line-height: 6vw;
          width: 85%;
        }
      }

      button {
        @include button-desktop();
        width: fit-content;
      }
    }

    .line {
      height: initial;
      width: 1px;
      background-color: #000;
      margin: 0 3vw;
    }

    .bottom {
      width: 33%;

      .elem {
        display: flex;
        flex-direction: column;
        gap: 1vw;

        svg {
          width: 4.8vw;
          aspect-ratio: 1/1;
        }

        h2 {
          font-size: 2vw;
          font-weight: 300;
          line-height: 2vw;
          text-transform: uppercase;
        }

        p {
          font-size: 1.2vw;
          line-height: 1.6vw;
          font-weight: 200;
        }
      }

      .line {
        height: 1px;
        width: 100%;
        background-color: #000;
        margin: 2vw 0;
      }
    }
  }

  .view-3 {
    width: 100%;

    .line {
      height: 1px;
      width: 100%;
      background-color: #000;
      margin: 2vw 0;
    }
    .wrap {
      display: flex;
      padding: 2vw 0;

      .top {
        .text {
          display: flex;
          flex-direction: column;
          padding: 2vw 0;
          gap: 1vw;
          position: sticky;
          top: 0;

          h2 {
            font-size: 4.5vw;
            line-height: 5vw;
            font-weight: 400;
            text-transform: uppercase;
          }

          h4 {
            font-size: 1.5vw;
            line-height: 2vw;
            font-weight: 200;
            width: 100%;
          }
        }
      }

      .line {
        height: initial;
        width: 1px;
        background-color: #000;
        margin: 0 2vw;
      }

      .bottom {
        width: 100%;
        gap: 2vw;
        display: grid;
        grid-template-areas:
          "a a b b"
          "a a b b"
          "c c d d"
          "c c d d";

        .elem {
          height: 23vw;
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 0.6vw;

          .video-container {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;

            video {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
              z-index: 1;
            }
          }

          h3 {
            font-size: 1.5vw;
            font-weight: 400;
          }

          h5 {
            @include light-text-mobile();
            font-size: 0.95vw;
            letter-spacing: 1px;
          }
        }

        .a {
          grid-area: a;
        }

        .b {
          grid-area: b;
        }

        .c {
          grid-area: c;
        }

        .d {
          grid-area: d;
        }
      }
    }
  }

  .view-4 {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
    margin-top: 4vw;

    .top {
      flex-direction: column-reverse;
      gap: 15vw;
      width: 68%;

      svg {
        width: 5rem;
      }

      .text {
        h5 {
          @include light-text-mobile();
          font-size: 1vw;
          margin: 1vw 0;
        }

        h1 {
          font-size: 6vw;
          line-height: 6vw;
          text-transform: uppercase;
          font-weight: 400;
        }
      }
    }

    .line {
      display: block;
      @include v-line();
      margin: 0 2vw;
    }

    .bottom {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // gap: 3rem;
      width: 32%;

      h4 {
        font-size: 1.8vw;
        line-height: 2.8vw;
        font-weight: 200;
      }

      button {
        @include button-desktop();
        width: fit-content;
      }
    }
  }

  footer {
    .line {
      @include h-line();
      margin: 4vw 0;
    }

    .wrap-main {
      .main {
        display: flex;

        .top {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 4vw;
          width: 35%;

          .t-top {
            display: flex;
            flex-direction: column;
            gap: 1vw;

            .logos {
              display: flex;
              align-items: center;
              gap: 1.2vw;

              svg {
                height: 3.5vw;
              }

              #svg11433201360 {
                height: 1.1vw;
              }
            }

            .address {
              display: flex;
              flex-direction: column;
              gap: 0.3vw;

              p {
                font-size: 1.2vw;
                font-weight: 200;
              }
            }
          }

          .links {
            display: flex;
            gap: 1.2vw;
            margin: 0;
            padding: 0;

            .link {
              height: 2.3vw;
              width: 2.3vw;
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              border: 1px solid black;
              cursor: pointer;

              a {
                text-transform: uppercase;
                font-size: 1vw;
                font-weight: 200;
                color: #000;
                text-decoration: none;
              }
            }
          }
        }

        .line {
          @include v-line();
          margin: 0;
        }

        .bottom {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 65%;
          gap: 0;
          padding: 0 4.5vw;

          .elem {
            display: flex;
            flex-direction: column;
            gap: 1.4vw;

            h3 {
              font-size: 1.8vw;
              font-weight: 400;
            }

            h4 {
              font-size: 1.02vw;
              letter-spacing: 1px;
            }

            button {
              @include button-desktop();
              width: fit-content;
            }
          }

          .line {
            display: none;
          }
        }
      }
    }

    #lastline {
      margin-top: 4vw;
      margin-bottom: 2vw;
    }

    .f-bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 0;
      letter-spacing: 0.5px;

      h4 {
        font-weight: 300;
        font-size: 1vw;

        a {
          color: #000;
        }
      }

      .right {
        display: flex;
        gap: 2vw;

        h5 {
          font-size: 1vw;
          font-weight: 300;
        }
      }
    }
  }

  .hovering-elements{
    position: relative;
    width: fit-content;
    padding-bottom: 0.2vw;
    cursor: pointer;
    font-family: sans-serif;

    &::after{
      content: "";
      position: absolute;
      height: 1px;
      width: 0%;
      background-color: #000;
      bottom: 0;
      left: 0;
      transition: width 0.3s ease;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

.light {
  background-color: #fdfbf5;
  border: #000;

  #light {
    display: block;
  }

  #dark {
    display: none;
  }

  .hovering-elements{
    &::after{
      background-color: #000;
    }
  }
}

.dark {
  background-color: #000;
  color: #fdfbf5;

  main {
    border: 1px solid #fdfbf5;
    background-color: #000000;
  }

  #light {
    display: none;
  }

  #dark {
    display: block;
  }

  .hovering-elements{
    &::after{
      background-color: #fdfbf5;
    }
  }
}