* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  padding: 3vw;
  background-color: #fdfbf6;
}

main {
  width: 100%;
  padding: 5vw 6vw;
  border: 1px solid black;
}

.view-1 {
  height: 100%;
  width: 100%;
}
.view-1 nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.view-1 nav .logos {
  display: flex;
  align-items: center;
  gap: 3vw;
}
.view-1 nav .logos svg {
  height: 13vw;
}
.view-1 nav .logos #svg11433201360 {
  height: 4.5vw;
}
.view-1 nav .right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}
.view-1 nav .right .part-1 {
  display: none;
}
.view-1 nav .right .part-2 {
  display: flex;
  align-items: center;
}
.view-1 nav .right .part-2 button,
.view-1 nav .right .part-2 .links {
  display: none;
}
.view-1 nav .right .part-2 #toggle {
  display: flex;
  justify-content: center;
  background-color: #fdfbf5;
  border: 1px solid #0e0e0e;
  border-radius: 20px;
  padding: 1.2vw 2vw;
  width: 16vw;
  margin-right: 4.5vw;
}
.view-1 nav .right .part-2 #toggle i {
  display: block;
  font-size: 5vw;
}
.view-1 nav .right .part-2 #toggle #light {
  color: black;
}
.view-1 nav .right .part-2 #toggle #dark {
  color: #fdfbf5;
}
.view-1 nav .right .part-2 i {
  font-size: 8.5vw;
}
.view-1 .line {
  width: 100%;
  height: 1px;
  background-color: #000;
  margin: 5vw 0;
}
.view-1 .content {
  display: flex;
  flex-direction: column;
  gap: 8vw;
  margin-top: 8vw;
}
.view-1 .content .top {
  display: flex;
  flex-direction: column;
  gap: 4vw;
}
.view-1 .content .top h5 {
  font-size: 3.8vw;
  font-weight: 300;
  text-transform: uppercase;
}
.view-1 .content .top h1 {
  font-size: 16vw;
  line-height: 15vw;
  width: 90%;
  font-weight: 400;
}
.view-1 .content .bottom {
  width: 100%;
  height: 49vw;
}
.view-1 .content .bottom img {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.view-2 {
  height: 100%;
  width: 100%;
  margin-top: 8vw;
}
.view-2 .top {
  display: flex;
  flex-direction: column;
  gap: 7vw;
}
.view-2 .top .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.view-2 .top .text h5 {
  font-size: 3.8vw;
  font-weight: 300;
  text-transform: uppercase;
}
.view-2 .top .text h1 {
  font-size: 12vw;
  line-height: 13vw;
  font-weight: 400;
}
.view-2 .top button {
  border: none;
  background-color: black;
  color: #fff;
  text-transform: uppercase;
  padding: 2.6vw 4vw;
  font-size: 3.5vw;
  font-weight: 300;
  letter-spacing: 1px;
  border-radius: 0.3rem;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
}
.view-2 .line {
  height: 1px;
  width: 100%;
  background-color: #000;
  margin: 7vw 0;
}
.view-2 .bottom .elem {
  display: flex;
  flex-direction: column;
  gap: 4vw;
}
.view-2 .bottom .elem svg {
  width: 17vw;
  aspect-ratio: 1/1;
}
.view-2 .bottom .elem h2 {
  font-size: 7vw;
  font-weight: 300;
  text-transform: uppercase;
}
.view-2 .bottom .elem p {
  font-size: 4.4vw;
  line-height: 5vw;
  font-weight: 100;
}
.view-2 .bottom .line {
  height: 1px;
  width: 100%;
  background-color: #000;
  margin-top: 8vw;
}

.view-3 {
  width: 100%;
}
.view-3 .line {
  height: 1px;
  width: 100%;
  background-color: #000;
  margin: 8vw 0;
}
.view-3 .wrap .top .text {
  display: flex;
  flex-direction: column;
  gap: 3.4vw;
}
.view-3 .wrap .top .text h2 {
  font-size: 11vw;
  line-height: 13vw;
  font-weight: 400;
  text-transform: uppercase;
}
.view-3 .wrap .top .text h4 {
  font-size: 4.6vw;
  line-height: 7vw;
  font-weight: 300;
  width: 85%;
}
.view-3 .wrap .line {
  height: 1px;
  width: 100%;
  background-color: #000;
  margin: 8vw 0;
}
.view-3 .wrap .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8vw;
}
.view-3 .wrap .bottom .elem {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5vw;
}
.view-3 .wrap .bottom .elem video {
  width: 100%;
  border-radius: 1rem;
}
.view-3 .wrap .bottom .elem h3 {
  font-size: 5.5vw;
  font-weight: 400;
}
.view-3 .wrap .bottom .elem h5 {
  font-size: 3.8vw;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 3.6vw;
  letter-spacing: 1px;
}

.view-4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6vw;
}
.view-4 .top {
  display: flex;
  flex-direction: column;
  gap: 7vw;
}
.view-4 .top svg {
  width: 15vw;
  aspect-ratio: 1/1;
}
.view-4 .top .text h5 {
  font-size: 3.8vw;
  font-weight: 300;
  text-transform: uppercase;
  margin: 3.4vw 0;
}
.view-4 .top .text h1 {
  font-size: 11.9vw;
  line-height: 13vw;
  text-transform: uppercase;
  font-weight: 300;
}
.view-4 .line {
  display: none;
}
.view-4 .bottom {
  display: flex;
  flex-direction: column;
  gap: 15vw;
}
.view-4 .bottom h4 {
  font-size: 4.4vw;
  line-height: 6.5vw;
  font-weight: 200;
}
.view-4 .bottom button {
  border: none;
  background-color: black;
  color: #fff;
  text-transform: uppercase;
  padding: 2.6vw 4vw;
  font-size: 3.5vw;
  font-weight: 300;
  letter-spacing: 1px;
  border-radius: 0.3rem;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
}

footer .line {
  height: 1px;
  width: 100%;
  background-color: #000;
  margin: 8vw 0;
}
footer .wrap-main .main .top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 18vw;
}
footer .wrap-main .main .top .t-top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .wrap-main .main .top .t-top .logos {
  display: flex;
  align-items: center;
  gap: 4vw;
}
footer .wrap-main .main .top .t-top .logos svg {
  height: 13vw;
}
footer .wrap-main .main .top .t-top .logos #svg11433201360 {
  height: 4.5vw;
}
footer .wrap-main .main .top .t-top .address {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
footer .wrap-main .main .top .t-top .address p {
  font-size: 3.7vw;
  font-weight: 200;
}
footer .wrap-main .main .top .links {
  display: flex;
  gap: 4vw;
}
footer .wrap-main .main .top .links .link {
  height: 8vw;
  width: 8vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid black;
}
footer .wrap-main .main .top .links .link a {
  text-transform: uppercase;
  font-size: 4vw;
  font-weight: 200;
  color: #000;
  text-decoration: none;
}
footer .wrap-main .main .bottom {
  display: flex;
  flex-direction: column;
}
footer .wrap-main .main .bottom .elem {
  display: flex;
  flex-direction: column;
  gap: 4.8vw;
}
footer .wrap-main .main .bottom .elem h3 {
  font-size: 6.3vw;
  font-weight: 400;
}
footer .wrap-main .main .bottom .elem h4 {
  font-size: 3.8vw;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 3.4vw;
  letter-spacing: 0.6px;
}
footer .wrap-main .main .bottom .elem button {
  border: none;
  background-color: black;
  color: #fff;
  text-transform: uppercase;
  padding: 2.6vw 4vw;
  font-size: 3.5vw;
  font-weight: 300;
  letter-spacing: 1px;
  border-radius: 0.3rem;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
}
footer .f-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  gap: 4vw;
  letter-spacing: 0.5px;
}
footer .f-bottom h4 {
  font-size: 3.7vw;
  font-weight: 300;
}
footer .f-bottom h4 a {
  color: #000;
}
footer .f-bottom .right {
  display: flex;
  gap: 8vw;
}
footer .f-bottom .right h5 {
  font-size: 3.8vw;
  font-weight: 200;
}

@media (min-width: 1020px) {
  body {
    padding: 1.2vw;
  }
  main {
    padding: 2.4vw 3.3vw;
  }
  .view-1 nav .logos {
    display: flex;
    align-items: center;
    gap: 1.2vw;
  }
  .view-1 nav .logos svg {
    height: 3.5vw;
  }
  .view-1 nav .logos #svg11433201360 {
    height: 1.1vw;
  }
  .view-1 nav .right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
  }
  .view-1 nav .right .part-1 {
    display: flex;
    align-items: center;
    gap: 1vw;
  }
  .view-1 nav .right .part-1 h4 {
    text-transform: uppercase;
    font-size: 1.1vw;
    font-weight: 300;
    padding: 0 1vw;
    cursor: pointer;
  }
  .view-1 nav .right .part-2 {
    display: flex;
    align-items: center;
  }
  .view-1 nav .right .part-2 button {
    display: block;
    border: none;
    background-color: black;
    color: #fff;
    text-transform: uppercase;
    padding: 0.6vw 1.3vw;
    font-size: 1vw;
    font-weight: 300;
    letter-spacing: 1px;
    border-radius: 0.3rem;
    cursor: pointer;
  }
  .view-1 nav .right .part-2 .links {
    display: flex;
    gap: 1.2vw;
    margin: 0 1.2vw;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0 1.4vw;
  }
  .view-1 nav .right .part-2 .links .link {
    height: 2.3vw;
    width: 2.3vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
  }
  .view-1 nav .right .part-2 .links .link a {
    text-transform: uppercase;
    font-size: 1vw;
    font-weight: 200;
    color: #000;
    text-decoration: none;
  }
  .view-1 nav .right .part-2 #toggle {
    border-radius: 20px;
    padding: 0.5vw 0.7vw;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 0;
  }
  .view-1 nav .right .part-2 #toggle i {
    display: block;
    font-size: 1.3vw;
  }
  .view-1 nav .right .part-2 #toggle #light {
    color: black;
  }
  .view-1 nav .right .part-2 #toggle #dark {
    color: #fdfbf5;
  }
  .view-1 nav .right .part-2 i {
    display: none;
  }
  .view-1 .line {
    width: 100%;
    height: 1px;
    background-color: #000;
    margin: 2vw 0;
  }
  .view-1 .content {
    gap: 4vw;
    margin-top: 4vw;
  }
  .view-1 .content .top {
    gap: 1vw;
  }
  .view-1 .content .top h5 {
    font-size: 3.8vw;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1vw;
  }
  .view-1 .content .top h1 {
    font-size: 7vw;
    line-height: 7vw;
    font-weight: 350;
  }
  .view-1 .content .bottom {
    height: 43vw;
  }
  .view-2 {
    height: 100%;
    width: 100%;
    margin: 4vw 0;
    display: flex;
    justify-content: space-between;
  }
  .view-2 .top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2vw;
    width: 68%;
  }
  .view-2 .top .text {
    display: flex;
    flex-direction: column;
    gap: 1vw;
  }
  .view-2 .top .text h5 {
    font-size: 3.8vw;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1vw;
  }
  .view-2 .top .text h1 {
    font-size: 5.1vw;
    line-height: 5vw;
    width: 85%;
  }
  .view-2 .top button {
    border: none;
    background-color: black;
    color: #fff;
    text-transform: uppercase;
    padding: 0.6vw 1.3vw;
    font-size: 1vw;
    font-weight: 300;
    letter-spacing: 1px;
    border-radius: 0.3rem;
    cursor: pointer;
    width: -moz-fit-content;
    width: fit-content;
  }
  .view-2 .line {
    height: initial;
    width: 1px;
    background-color: #000;
    margin: 0 3vw;
  }
  .view-2 .bottom {
    width: 33%;
  }
  .view-2 .bottom .elem {
    display: flex;
    flex-direction: column;
    gap: 1vw;
  }
  .view-2 .bottom .elem svg {
    width: 4.8vw;
    aspect-ratio: 1/1;
  }
  .view-2 .bottom .elem h2 {
    font-size: 2vw;
    font-weight: 300;
    line-height: 2vw;
    text-transform: uppercase;
  }
  .view-2 .bottom .elem p {
    font-size: 1.2vw;
    line-height: 1.6vw;
    font-weight: 200;
  }
  .view-2 .bottom .line {
    height: 1px;
    width: 100%;
    background-color: #000;
    margin: 2vw 0;
  }
  .view-3 {
    width: 100%;
  }
  .view-3 .line {
    height: 1px;
    width: 100%;
    background-color: #000;
    margin: 2vw 0;
  }
  .view-3 .wrap {
    display: flex;
    padding: 2vw 0;
  }
  .view-3 .wrap .top .text {
    display: flex;
    flex-direction: column;
    padding: 2vw 0;
    gap: 1vw;
    position: sticky;
    top: 0;
  }
  .view-3 .wrap .top .text h2 {
    font-size: 3.3vw;
    line-height: 3.8vw;
    font-weight: 400;
    text-transform: uppercase;
  }
  .view-3 .wrap .top .text h4 {
    font-size: 1.4vw;
    line-height: 2vw;
    font-weight: 200;
    width: 100%;
  }
  .view-3 .wrap .line {
    height: initial;
    width: 1px;
    background-color: #000;
    margin: 0 2vw;
  }
  .view-3 .wrap .bottom {
    width: 100%;
    gap: 2vw;
    display: grid;
    grid-template-areas: "a a b b" "a a b b" "c c d d" "c c d d";
  }
  .view-3 .wrap .bottom .elem {
    height: 23vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.6vw;
  }
  .view-3 .wrap .bottom .elem .video-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .view-3 .wrap .bottom .elem .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 1;
  }
  .view-3 .wrap .bottom .elem h3 {
    font-size: 1.5vw;
    font-weight: 400;
  }
  .view-3 .wrap .bottom .elem h5 {
    font-size: 3.8vw;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.95vw;
    letter-spacing: 1px;
  }
  .view-3 .wrap .bottom .a {
    grid-area: a;
  }
  .view-3 .wrap .bottom .b {
    grid-area: b;
  }
  .view-3 .wrap .bottom .c {
    grid-area: c;
  }
  .view-3 .wrap .bottom .d {
    grid-area: d;
  }
  .view-4 {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
    margin-top: 4vw;
  }
  .view-4 .top {
    flex-direction: column-reverse;
    gap: 15vw;
    width: 68%;
  }
  .view-4 .top svg {
    width: 5rem;
  }
  .view-4 .top .text h5 {
    font-size: 3.8vw;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1vw;
    margin: 1vw 0;
  }
  .view-4 .top .text h1 {
    font-size: 5.3vw;
    line-height: 5.2vw;
    text-transform: uppercase;
    font-weight: 400;
  }
  .view-4 .line {
    display: block;
    height: initial;
    width: 1px;
    background-color: #000;
    margin: 0 2vw;
  }
  .view-4 .bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32%;
  }
  .view-4 .bottom h4 {
    font-size: 1.8vw;
    line-height: 2.8vw;
    font-weight: 200;
  }
  .view-4 .bottom button {
    border: none;
    background-color: black;
    color: #fff;
    text-transform: uppercase;
    padding: 0.6vw 1.3vw;
    font-size: 1vw;
    font-weight: 300;
    letter-spacing: 1px;
    border-radius: 0.3rem;
    cursor: pointer;
    width: -moz-fit-content;
    width: fit-content;
  }
  footer .line {
    height: 1px;
    width: 100%;
    background-color: #000;
    margin: 4vw 0;
  }
  footer .wrap-main .main {
    display: flex;
  }
  footer .wrap-main .main .top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4vw;
    width: 35%;
  }
  footer .wrap-main .main .top .t-top {
    display: flex;
    flex-direction: column;
    gap: 1vw;
  }
  footer .wrap-main .main .top .t-top .logos {
    display: flex;
    align-items: center;
    gap: 1.2vw;
  }
  footer .wrap-main .main .top .t-top .logos svg {
    height: 3.5vw;
  }
  footer .wrap-main .main .top .t-top .logos #svg11433201360 {
    height: 1.1vw;
  }
  footer .wrap-main .main .top .t-top .address {
    display: flex;
    flex-direction: column;
    gap: 0.3vw;
  }
  footer .wrap-main .main .top .t-top .address p {
    font-size: 1.2vw;
    font-weight: 200;
  }
  footer .wrap-main .main .top .links {
    display: flex;
    gap: 1.2vw;
    margin: 0;
    padding: 0;
  }
  footer .wrap-main .main .top .links .link {
    height: 2.3vw;
    width: 2.3vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
  }
  footer .wrap-main .main .top .links .link a {
    text-transform: uppercase;
    font-size: 1vw;
    font-weight: 200;
    color: #000;
    text-decoration: none;
  }
  footer .wrap-main .main .line {
    height: initial;
    width: 1px;
    background-color: #000;
    margin: 0;
  }
  footer .wrap-main .main .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    gap: 0;
    padding: 0 4.5vw;
  }
  footer .wrap-main .main .bottom .elem {
    display: flex;
    flex-direction: column;
    gap: 1.4vw;
  }
  footer .wrap-main .main .bottom .elem h3 {
    font-size: 1.8vw;
    font-weight: 400;
  }
  footer .wrap-main .main .bottom .elem h4 {
    font-size: 1.02vw;
    letter-spacing: 1px;
  }
  footer .wrap-main .main .bottom .elem button {
    border: none;
    background-color: black;
    color: #fff;
    text-transform: uppercase;
    padding: 0.6vw 1.3vw;
    font-size: 1vw;
    font-weight: 300;
    letter-spacing: 1px;
    border-radius: 0.3rem;
    cursor: pointer;
    width: -moz-fit-content;
    width: fit-content;
  }
  footer .wrap-main .main .bottom .line {
    display: none;
  }
  footer #lastline {
    margin-top: 4vw;
    margin-bottom: 2vw;
  }
  footer .f-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    letter-spacing: 0.5px;
  }
  footer .f-bottom h4 {
    font-weight: 300;
    font-size: 1vw;
  }
  footer .f-bottom h4 a {
    color: #000;
  }
  footer .f-bottom .right {
    display: flex;
    gap: 2vw;
  }
  footer .f-bottom .right h5 {
    font-size: 1vw;
    font-weight: 300;
  }
}
.light {
  background-color: #fdfbf5;
  border: #000;
}
.light #light {
  display: block;
}
.light #dark {
  display: none;
}

.dark {
  background-color: #000;
  color: #fdfbf5;
}
.dark main {
  border: 1px solid #fdfbf5;
  background-color: #000000;
}
.dark #light {
  display: none;
}
.dark #dark {
  display: block;
}/*# sourceMappingURL=style.css.map */